a {
  color: #3f51b5;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: underline;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.pointer {
  cursor: pointer;
}
.w100 {
  width: 100% !important;
}
.w50 {
  width: 50% !important;
}
.margin-left-0 {
  margin-left: 0 !important;
}
.padding-left-10 {
  padding-left: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.padding-top-0 {
  padding-top: 0!important;
}
.padding-bottom-0 {
  padding-bottom: 0!important;
}
.button-icon {
  width: 24px;
  height: 24px;
  margin-top: 1px;
}
.md-button i {
  font-size: 18px;
}
.filter-icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
md-input-container {
  padding-bottom: 12px;
}
md-input-container .md-char-counter {
  line-height: 0;
}

.text-field {
  padding-top: 5px;
}
.text-field__label {
  top: -14px;
}
.lx-select {
  margin-top: 10px;
}
.filter-actions {
  margin-top: 25px;
}
.filter-actions button {
  padding: 5px 25px;
}
.filter-actions .md-button i {
  font-size: 21px;
  margin-left: -5px;
}
.auth-form {
  min-width: 320px;
  max-width: 500px;
  width: 500px;
}
.dialog-popup .md-actions {
  border-top: 1px solid rgba(0,0,0,0.12);
}
.item-images-popup, .dialog-popup {
  width: 600px;
}
.item-images-popup .main-image {
  max-height: 400px;
  margin: 10px auto;
}
.item-images-popup .item-images-thumbnails {
  overflow: auto;
}
.item-images-thumbnails img {
  height: 50px;
}
.images-holder {
  position: relative;
  max-height: 500px;
  height: 500px;
}
.images-holder > * {
  float: left;
}
.images-holder .image {
  width: 80%;
}
.images-holder .thumbnails {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.images-holder .thumbnails img {
  width: 100%;
}
md-dialog.item-images-popup .md-actions {
  justify-content: flex-start;
}
.data-header {
  z-index: 99;
}
.data-content {
  padding: 10px;
}
.data-header.fixed {
  position: absolute;
  top: 0;
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
}
.data-header h3 {
  margin: 0;
}
.data-header .md-button i {
  font-size: 14px;
  margin-top: -2px;
}
.data-header.fixed>th {
  padding: 0;
  height: auto;
}
.data-header.fixed>th:last-child {
  width: 70px;
}
.data-table--has-primary>tbody>tr>td:first-child, .data-table--has-primary>thead>tr>th:first-child {
  width: 2%;
  padding: 0;
  text-align: center;
}
.data-table--has-primary>tbody>tr>td:nth-child(2), .data-table--has-primary>thead>tr>th:nth-child(2) {
  text-align: center;
  padding: 8px 16px;
}

.http-loader {
  width: 100%;
  height: 5px;
  position: fixed;
  z-index: 999;
}
.http-loader .md-container {
  top: 0;
}
md-toast.md-error-theme {
  background-color: #E91E63;
  color: #fff;
}
md-toast.md-success-theme {
  background-color: #4CAF50;
  color: #fff;
}
/*table.data-table tbody tr {*/
  /*border-bottom: 1px solid rgba(0,0,0,.12);*/
/*}*/
table.data-table tbody tr:hover {
  background: rgba(0,0,0,.12);
}
.data-table>tbody>tr>td {
  height: 24px;
  padding: 4px 10px;
  white-space: nowrap;
  font-size: 12px;
}
.data-table>thead>tr>th {
  font-size: 12px;
}
.data-table--has-primary>tbody>tr>td:nth-child(2) {
  padding: 0;
}
.data-table>thead th {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
}
/*.data-table>thead th div {*/
  /*position: absolute;*/
  /*top: 0;*/
/*}*/
/*.data-header.fixed th div {*/
  /*position: absolute;*/
  /*top: 0;*/
/*}*/

.pagination-holder {
  margin-top: 15px;
  height: 35px;
}
.pagination {
  position: absolute;
  left: 50%;
  margin-top: 15px;
  font-size: 14px;
}
.pagination > div {
  position: relative;
  left: -50%;
}
.currency-value .lx-select__floating-label {
  top: -16px;
}
.currency-value .lx-select__selected {
  padding-top: 8px !important;
}
.currency-value md-input-container {
  width: 25%;
}
.payout-change-state label {
  margin: 20px 20px 0 0;
}
.payout-change-state > div {
  margin-bottom: 20px;
}
.payout-select, .item-select {
  margin: 4px 0 0 5px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0;
  width: 10px;
}
.select-all {
  display: inline-block;
  margin: 12px 0 0 0;
  float: left;
}
.select-all md-checkbox {
  margin: -8px 0 0 6px;
  float: left;
}
.bulk-actions {
  margin-left: -20px;
}
.exchange-rate-card {
  width: 50%;
}

.content-popup {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 99;
  overflow: auto;
  display: none;
}
.content-popup.active {
  display: block;
}
md-toast {
  z-index: 102;
}
.md-sidenav-left, md-backdrop.md-dialog-backdrop {
  z-index: 100;
}
.md-dialog-container {
  z-index: 101;
}
.edit-image-popup {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
  max-height: 95%;
}
.edit-image-popup .md-actions {
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
}
md-content {
  height: 100%;
}
.edit-image-popup md-content{
  height: 100%;
}
.edit-image-popup md-content [layout=row] {
  height: calc(100% - 74px);
}
.edit-image-holder {
  height: calc(100% - 47px);
  position: relative;
}
.edit-image-holder canvas{
  max-height: 100%;
  max-width: 100%;
}
.caman-actions md-input-container {
  width: 85px;
}
.caman-actions md-slider {
  top: 8px;
}

.image-crop-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #d9edf7;
}
.image-crop-hover * {
  user-select: none;
}
.image-crop-hover span {
  font-size: 24px;
  font-weight: bold;
  color: #0086b3;
}
.image-crop-hover > div {
  position: absolute;
  width: 100%;
}
.image-crop-hover .top {
  margin-top: -19px;
  top: 0;
}
.image-crop-hover .bottom {
  margin-top: -18px;
  top: 100%;
}

.image-crop-hover .pull-left {
  margin-left: -7px;
}
.image-crop-hover .pull-right {
  margin-right: -7px;
}
.se {
  cursor: se-resize;
}
.sw {
  cursor: sw-resize;
}
.nw {
  cursor: nw-resize;
}
.ne {
  cursor: ne-resize;
}

.upload-file {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.upload-file-input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.items-list-image {
  min-height: 24px;
}
.md-select-menu-container {
  z-index: 105;
}

.app-info {
  position: fixed;
  bottom: 0;
}

