node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
.idea
app/scripts/templates.js
app/scripts/bundle.min.js
app/scripts/app.min.js
app/scripts/vendor.min.js
app/scripts/config/app.json
**/.DS_Store
**/*.log
photorec.ses
.aws*
