<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <span>Smaato World Cup</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <sidenav-close-button></sidenav-close-button>
  </div>
</md-toolbar>
<md-content class="md-padding">

  <md-list>
    <md-item layout="row">
      <a class="md-button" href="/groups/">
        <span>Groups</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button" href="/matches/">
        <span>Matches</span>
      </a>
    </md-item>
    <!--<md-item layout="row">-->
      <!--<a class="md-button" href="/teams/">-->
        <!--<span>Teams</span>-->
      <!--</a>-->
    <!--</md-item>-->
  </md-list>

</md-content>
