<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <span>Smaato World Cup</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <sidenav-close-button></sidenav-close-button>
  </div>
</md-toolbar>
<md-content class="md-padding md-default-theme">

  <md-list>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/groups/">
        <span>Groups</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/matches/">
        <span>Matches</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/reports/">
        <span>Reports</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/orders/">
        <span>Orders</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/payouts/">
        <span>Payouts</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/exrate/">
        <span>Exchange Rate</span>
      </a>
    </md-item>
    <md-item layout="row">
      <a class="md-button md-default-theme" href="/upload/">
        <span>Upload Items</span>
      </a>
    </md-item>
  </md-list>

</md-content>
